In [1]:
try:
    b=open("duta.csv","x")
    b.close()
except:
    print("the alerady rhere")

the alerady rhere

In [2]:
import csv
csvfile=open("duta.csv")
reader=csv.DictReader(csvfile)
for row in reader:
    print(row)

{'sn': '1', 'name': 'ram', 'age': '88', 'address': 'ktm', 'phone': '9841'}
{'sn': '2', 'name': 'sam', 'age': '99', 'address': 'bht', 'phone': '555'}
{'sn': '3', 'name': 'surn', 'age': 'ktm', 'address': '5555', 'phone': None}
{'sn': '4', 'name': 'avi', 'age': '78', 'address': 'sddf', 'phone': '5522'}
{'sn': '5', 'name': 'jupi', 'age': '87', 'address': 'sdfff.888', 'phone': None}

In [3]:
import pandas as pd
df=pd.read_csv("duta.csv",index_col="sn",usecols=["sn","name"])
df

    name
sn
1    ram
2    sam
3   surn
4    avi
5   jupi

In [4]:
import pandas as pd
df=pd.read_csv("duta.csv",index_col="name")
df[df["sn"]==2]

      sn age address  phone
name
sam    2  99     bht  555.0

In [2]:
import pandas as pd
df=pd.read_csv("duta.csv",index_col="sn")
df1=df[(df["age"]>55)&(df["address"]=="ktm")]
df1.to_csv("df1.csv")  
df1

   name  age address   phone
sn
1   ram   88     ktm  9841.0

In [ ]:
import csv
field=[]