In [1]:
# d = {<key>:<Value>,<key>:<Value>,<key>:<Value>}

In [3]:
d = {"A":"Apple","B":"Ball"}
d["B"]

'Ball'

In [4]:
# Mutable
# indexed
# ordered
# Duplicate

In [6]:
d = {}
d['A'] = "Apple"
d['B'] = "Ball"
d

{'A': 'Apple', 'B': 'Ball'}

In [7]:
d["A"] = "Ant"
d

{'A': 'Ant', 'B': 'Ball'}

In [10]:
d = {}
d[0] = "Apple"
d[1] = "Ball"
d

{0: 'Apple', 1: 'Ball'}

In [12]:
d[1]

'Ball'

In [13]:
info = {}
for i in range(2):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info[name] = phone
print(info)

Enter name = Ram
Enter phone = 98789789
Enter name = Shyam
Enter phone = 89798789789
{'Ram': 98789789, 'Shyam': 89798789789}

In [19]:
a = {"a":"Apple","c":"Cat"}
b = {"b":"Ball"}
a.update(b)
print(a)

{'a': 'Apple', 'c': 'Cat', 'b': 'Ball'}

In [20]:
for i in a:
    print(i)

a
c
b

In [21]:
for i in a.values():
    print(i)

Apple
Cat
Ball

In [25]:
for i in a.items():
    print(i)

('a', 'Apple')
('c', 'Cat')
('b', 'Ball')

In [26]:
# update clear del pop
a = {'a': 'Apple', 'c': 'Cat', 'b': 'Ball'}
a.clear()
a

{}

In [29]:
a = {'a': 'Apple', 'c': 'Cat', 'b': 'Ball'}
del a['a']
a

{'c': 'Cat', 'b': 'Ball'}

In [30]:
info = {}
for i in range(2):
    name = input("Enter name = ")
    ncell_phone = int(input("Enter ncell phone = "))
    ntc_phone = int(input("Enter ntc phone = "))
    info[name] = [ncell_phone,ntc_phone]
print(info)

Enter name = Ram
Enter ncell phone = 9843556554
Enter ntc phone = 9808445443
Enter name = Shyam
Enter ncell phone = 9808556543
Enter ntc phone = 9845443443
{'Ram': [9843556554, 9808445443], 'Shyam': [9808556543, 9845443443]}

In [31]:
name = input("Enter name = ")
print(info[name])

Enter name = Ram
[9843556554, 9808445443]

In [34]:
d = {'Ram': [9843556554, 9808445443], 'Shyam': [9808556543, 9845443443]}
del d["Ram"][1]
d

{'Ram': [9843556554], 'Shyam': [9808556543, 9845443443]}

In [37]:
d = {'Ram': [9843556554, 9808445443], 'Shyam': [9808556543, 9845443443]}
d["Ram"].append(4456554)
d

{'Ram': [9843556554, 9808445443, 4456554], 'Shyam': [9808556543, 9845443443]}

In [42]:
b = {}
a= {"a":"Apple","b":"Ball"}
for i in a.items():
    key = i[0].upper()
    value = i[1]
    b[key]= value
b

{'A': 'Apple', 'B': 'Ball'}

In [44]:
b = {}
a= {"a":"Apple","b":"Ball"}

a.pop("a")

'Apple'

In [45]:
a

{'b': 'Ball'}

In [46]:
b = {"A":"Apple"}
a.update(b)

In [48]:
a

{'b': 'Ball', 'A': 'Apple'}

In [77]:
b = {}
a= {"a":"Apple","b":"Ball"}
for i in a.items():
    key = i[0]
    if key == "a":
    value = i[1]
    b[key]= value
b

IndentationError: expected an indented block (<ipython-input-77-92625c719c9c>, line 6)

In [78]:
b = []
a= {"a":"Apple","b":"Ball"}
for i in a.items():
    print(i)
    if i[0] == 'a':
        x = list(i)
        x[0] = "A"
        b.append(x)
    else:
        b.append(list(i))

('a', 'Apple')
('b', 'Ball')

In [79]:
b

[['A', 'Apple'], ['b', 'Ball']]

In [81]:
z = {}
for i in b:
    key = i[0]
    value = i[1]
    z[key] = value
    
print(z)

{'A': 'Apple', 'b': 'Ball'}

In [82]:
# dic inside list
a = [{"Ram":9867665654},{"Shyam":9867665654}]
a

[{'Ram': 9867665654}, {'Shyam': 9867665654}]

In [83]:
a[0]

{'Ram': 9867665654}

In [84]:
a.append({"Hari":9856554543})
a

[{'Ram': 9867665654}, {'Shyam': 9867665654}, {'Hari': 9856554543}]

In [85]:
z = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d = {name:phone}
    z.append(d)
print(z)

Enter n = 2
Enter name = Ram
Enter phone = 9878887654
Enter name = Shyam
Enter phone = 9867665654
[{'Ram': '9878887654'}, {'Shyam': '9867665654'}]