In [7]:
a = [['Ram',100,5], ['Shyam',55,778]]
name = input("Enter name = ")
for i in a:
    if name.lower() in i[0].lower():
        print(i)

Enter name = ram
['Ram', 100, 5]

In [4]:
s = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity "))
    total = price*quantity
    data = [[product,price,quantity,total]]  
    all_total = all_total+total
    s=s+data
    
print("The billing is = \n",s)
print("The total = ",all_total)

Enter n = 1
Enter name = 2
Enter price = we

ValueError: invalid literal for int() with base 10: 'we'

In [2]:
name=input("enter name=")
price=int(input("enter prie="))
quantity=int(input("enter qu="))
total=price*quantity
a = [['Ram',100,5,89], ['Shyam',55,778,65]]
a.append([name,price,quantity,total])
print(a)

enter name=ram
enter prie=23
enter qu=23
[['Ram', 100, 5, 89], ['Shyam', 55, 778, 65], ['ram', 23, 23, 529]]

In [8]:
a = [['Ram',100,5,89], ['Shyam',55,778,65]]
del a[1]
print(a)

[['Ram', 100, 5, 89]]

In [14]:
total=0
for i in a:
    x=i[3]
    total=total+x
print(total)

89

In [27]:
s = [['Ram',100,5,89], ['Shyam',55,778,65],['fam',535,78,6]]
index=int(input("enter index="))
quantity=int(input("enter qu="))


total=s[index][1]*quantity

s[index][2]=quantity
s[index][3]=total
nettotal=0
for i in s:
    x=i[3]
    nettotal=nettotal+x
print(nettotal)

enter index=1
enter qu=1
150