In [2]:
a = [[],[],[],[]]
print(a)
print(type(a))
print(len(a))

[[], [], [], []]
<class 'list'>
4

In [5]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
a[2]

[7, 8, 9]

In [7]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
a[0][0]

1

In [11]:
data = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input('Enter name = ')
    phone = int(input("Enter phone = "))
    info = [i,name,phone]
    data.append(info)
print(data)

Enter n = 2
Enter name = Ram
Enter phone = 867867878
Enter name = Shyam
Enter phone = 8869696
[[1, 'Ram', 867867878], [2, 'Shyam', 8869696]]

In [10]:
data[1]

['Shyam', 234242343]

In [12]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name}--{phone}\n"
    s = s+info
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 33534534
Enter name = Shyam
Enter phone = 33535354543
Ram--33534534
Shyam--33535354543

In [21]:
y = []
data = s.split('\n')[0:-1]
for i in data:
    x = i.split('--')
    y.append(x)
    
y

[['Ram', '33534534'], ['Shyam', '33535354543']]

In [23]:
a =[["Apple"]]
b = [["Ball"]]
a+b

[['Apple'], ['Ball']]

In [25]:
a = [['Apple'], ['Ball']]
a[0] = ["Ant"]
a

[['Ant'], ['Ball']]

In [34]:
a = [['Ram',"Nepal",'33534534'], ['Shyam',"USA", '33535354543']]
name = input("Enter name = ")
for i in a:
    if name.lower() in i[1].lower():
        print(i)

Enter name = nepal
['Ram', 'Nepal', '33534534']

In [2]:
s = []
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity "))
    total = price*quantity
    data = [[product,price,quantity,total]]
    all_total = all_total+total
    s = s+data
print("The billing is = \n",s)
print("The total = ",all_total)

Enter n = 2
Enter name = Apple
Enter price = 100
Enter quantity 2
Enter name = Banana
Enter price = 200
Enter quantity 3
The billing is =
 [['Apple', 100, 2, 200], ['Banana', 200, 3, 600]]
The total =  800

In [1]:
a =  [['Apple', 100, 2, 200], ['Banana', 200, 3, 600]]
name = input("Enter name = ")
for i in a:
    if name.lower() in i[0].lower():
        print(i)

Enter name = appl
['Apple', 100, 2, 200]

In [2]:
name = input("Enter name = ")
price = int(input("Enter price = "))
quantity = int(input("Enter quantity "))
total = price*quantity
a = [['Apple', 100, 2, 200], ['Banana', 200, 3, 600]]
a.append([name,price,quantity,total])
print(a)

Enter name = milk
Enter price = 100
Enter quantity 3
[['Apple', 100, 2, 200], ['Banana', 200, 3, 600], ['milk', 100, 3, 300]]

In [6]:
s = []
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity "))
    total = price*quantity
    data = [[product,price,quantity,total]]
    all_total = all_total+total
    s = s+data
print("The billing is = \n",s)
print("The total = ",all_total)

Enter n = 2
Enter name = Apple
Enter price = 100
Enter quantity 2
Enter name = Banana
Enter price = 200
Enter quantity 3
The billing is =
 [['Apple', 100, 2, 200], ['Banana', 200, 3, 600]]
The total =  800

In [7]:
index = int(input("Enter index = "))
del s[index]

Enter index = 1

In [9]:
s =  [['Apple', 100, 2, 200], ['Banana', 200, 3, 600],['milk',100,3,300]]
del s[1]

In [10]:
s

[['Apple', 100, 2, 200], ['milk', 100, 3, 300]]

In [18]:
total = 0
for i in s:

    x = i[3]
    total = total +x
print(total)

200
300

In [19]:
s =  [['Apple', 100, 2, 200], ['Banana', 200, 3, 600],['milk',100,3,300]]
index = int(input("Enter index = "))
quantity = int(input("Enter quantity = "))
total = s[index][1]*quantity


s[index][2] = quantity
s[index][3] = total
print("The new billing is = \n",s)
net_total = 0
for i in s:

    x = i[3]
    net_total = net_total +x
print(net_total)

Enter index = 0
Enter quantity = 1
[['Apple', 100, 1, 100], ['Banana', 200, 3, 600], ['milk', 100, 3, 300]]

In [20]:
# a =  [['Apple', 100, 2, 200], ['Banana', 200, 3, 600]]
# name = input("Enter name = ")
# for i in a:
#     if name.lower() in i[0].lower():
#         print(i)

In [13]:
# creating a matrix
z = []
b=""
d=""
r = int(input("Enter i = "))
c = int(input("Enter j = "))
for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)
        b=(f"{y}\n")
    d = d + f"{b}"
    
    z.append(y)
# print(z)
print(d)

Enter i = 3
Enter j = 2
Enter x = 2
Enter x = 5
Enter x = 7
Enter x = 8
Enter x = 7
Enter x = 5
[2, 5]
[7, 8]
[7, 5]

In [2]:
# creating a matrix
z = []
# b=""
# d=""
r = int(input("Enter i = "))
c = int(input("Enter j = "))
for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)
#         b=(f"{y}\n")
#     d = d + f"{b}"
    
    z.append(y)
# print(z)
for i in z:
    
    print(i)
# print(d)

Enter i = 2
Enter j = 2
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
[1, 2]
[3, 4]

####