In [ ]:

# for(i =0;i<5;i++){
    
# }

In [1]:
# range(5)
# range(1,5)
# range(1,5,2)

In [3]:
# for(i =0;i<5;i++){ 
# }
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [4]:
# for(i =1;i<5;i++){ 
# }
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
# for(i =1;i<5;i=i+2){ 
# }
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [10]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s =s+x
print(s)

Enter n = 2
Enter x = 1
Enter x = 1
2

In [13]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s =s+" "+x
print(s)

Enter n = 2
Enter x = Apple
Enter x = Ball
 Apple Ball

In [16]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s =s+" "+x
print(s)

Enter n = 3
Enter x = Shyam
Enter x = Ram
Enter x = Hari
 Shyam Ram Hari

In [18]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone ")
    s =s+name+" " +phone+"\n"
print(s)

Enter n = 2
Enter name = Ram
Enter phone 9876445432
Enter name = Shyam
Enter phone 9867665654
Ram 9876445432
Shyam 9867665654

In [22]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone ")
    if len(phone)== 10:
        s =s+name+" " +phone+"\n"
    else:
        print("Invalid No.")
        
print(s)

Enter n = 2
Enter name = w
Enter phone 234
Invalid No.
Enter name = aasdas
Enter phone 2434
Invalid No.

In [24]:
# 4! = 1*2*3*4
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i
    
print(fac)

Enter n = 5
120

In [ ]:
# WAP to detect prime and composite no
# prime = 2,3,5,11,13,17
# composite = 4,6,8,9,10,....

In [29]:
for i in range(5,0,-1):
    print(i,"Hello world")

5 Hello world
4 Hello world
3 Hello world
2 Hello world
1 Hello world

In [37]:
a = "Python"
print(a[5])

n

In [44]:
a = "Python"
for i in range(5,-1,-1):
    print(a[i],end = "")

nohtyP

In [50]:
# for each loop
a = "python"
for i in a:
    print(i,end = "")

python

In [51]:
a = ("Python","C++","C","Java")
for i in a:
    print(i,end=" ")

Python C++ C Java

In [47]:
# for each loop
a = "python"
for i in a:
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World