In [1]:
a = "Hello World"
print(a)
print(type(a))

Hello World
<class 'str'>

In [2]:
a = "Hello "
b = "WOrld"
print(a+b)

Hello WOrld

In [4]:
a = "Hello WOrld\n"
print(a*2)

Hello WOrld
Hello WOrld

In [8]:
a = "Python"
print(a[-1])

n

In [15]:
a = "Hello World this is Python"
print(a[0:5])
print(a[5:])

Hello
 World this is Python

In [18]:
a = "Hello World this is Python"
print(a[0:10:2])

HloWr

In [22]:
a = "Python"
print(a[5::-1])

nohtyP

In [27]:
# string formatting
a = "Apple"
b = "Ball"
c = f"{a}.{b}"
print(c)

Apple.Ball

In [28]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
info = f"Hello My name is {name}.I am from {add}.I am {age}"
print(info)

Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Hello My name is Ram.I am from Kathmandu.I am 34

In [29]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name}--{phone}\n"
    s = s+info
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9889798
Enter name = Shyam
Enter phone = 978979878
Ram--9889798
Shyam--978979878

In [32]:
a = "Hello My name is Ram.I am from Kathmandu.I am 34"
if "Ram" in a:
    print("Yes",a.count("Ram"))
else:
    print("No")

Yes 1

In [38]:
a = "Hello My name is Ram.I am from Kathmandu.I am 34".lower()
value = input("Enter value = ").lower()
if value in a:
    print("Yes",a.count(value))
else:
    print("No")

Enter value = RAm
Yes 1

In [36]:
a.upper()

'HELLO MY NAME IS RAM.I AM FROM KATHMANDU.I AM 34'

In [37]:
a.lower()

'hello my name is ram.i am from kathmandu.i am 34'

In [41]:
a = "Ram--9889798\nShyam--978979878"
a = a.replace('Ram','Hari')

In [42]:
print(a)

Hari--9889798
Shyam--978979878

In [44]:
a = "Ram--9889798\nShyam--978979878"
a = a.replace('Ram--9889798','')
a

'\nShyam--978979878'

In [45]:
a = "Hello World"
a.split()

['Hello', 'World']

In [47]:
a = "Ram--9889798\nShyam--978979878"
a = a.split()

In [49]:
a[0]

'Ram--9889798'

In [ ]:
# WAP for billing system
# WAP for result management system