In [1]:
a="helo world"
print(a)
print(type(a))

helo world
<class 'str'>

In [7]:
a="helo world"
b="lol"
print(a+b)
print(a*2)
print(a[:-1:-1])

helo worldlol
helo worldhelo world

In [20]:
a="helo world"
b="lol"
# print(a+b)
# print(a*2)
print(a[10::-1])

dlrow oleh

In [26]:
# string formatin/g
a=3
b=2
c=f"{a}-{b}"
print(c)

3-2

In [28]:
name=input("entr=")
age=input("entr ag=")
add=input("entr add=")
info=f"hello name is {name}. i ma  {age}. i an from {add}"
print(info)

entr=sanj
entr ag=14
entr add=ktm\
hello name is sanj. i ma  14. i an from ktm\

In [4]:
s=""
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter pone=")
    add=input("enter add=")
    info=f"{name}--{phone}--{add}\n"
    s=s+info
print(s)

enter n=2
enter name=xc
enter pone=zxc
enter add=cxz
enter name=zxc
enter pone=zxc
enter add=zxc
xc--zxc--cxz
zxc--zxc--zxc

In [13]:
a="my name is khan  i am not terrorist".upper()
value=input("entr value=").upper()
if value in a:
    print("yes",a.count(value))
else:
    print("no")

entr value=khan
yes 1

In [14]:
a.upper()

'MY NAME IS KHAN  I AM NOT TERRORIST'

In [25]:
a="ram--8888\nsam--9899".upper()
a=a.replace('ram','sanj')
print(a)

RAM--8888
SAM--9899

In [38]:
a="sanju bhai"
a.split("a")

['s', 'nju bh', 'i']

In [39]:
a[0]

's'

In [40]:
# wap for billing system
# wap for result mngmt syse

In [ ]:
s=""
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter pone=")
    add=input("enter add=")
    info=f"{name}--{phone}--{add}\n"
    s=s+info
print(s)