In [2]:
a=()
b=tuple()
print(a)
print(b)

()
()

In [3]:
# imutable
# duplicate members
# ordered
# indexed

In [5]:
a=(1,2,3,4,5)
a[3]

4

In [6]:
a=(1,2)
print(a)

(1, 2)

In [8]:
a=("apple",)
type(a)

tuple

In [10]:
a=(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [11]:
# update delete

In [14]:
b = ("Apple","Ball","Cat","Dog","Fish",1,2,3,4)
print(b[0::-1])

('Apple',)

In [18]:
s=()
n=int(input("eter value="))
for i in range(n):
    x=int(input("enter x="))
    s=s+(x,)
print("the tuple is=",s)
print("the min value=",min(s))
print("the max value=",max(s))
print("the sum is=",sum(s))

eter value=3
enter x=9
enter x=5
enter x=7
the tuple is= (9, 5, 7)
the min value= 5
the max value= 9
the sum is= 21

In [27]:
b = ("Apple","Ball","Cat","Dog","Fish")
n=len(b)
for i in range(n):
    print(b[i])

Apple
Ball
Cat
Dog
Fish

In [28]:
b = ("Apple","Ball","Cat","Dog","Fish")
if "Apple" in b:
    print("yes",b.count("Apple"))
else:
    print("no")

yes 1

In [34]:
index=()
b = ("Apple","Ball","Cat","Dog","Fish","Apple")
n=len(b)
for i in range(n):
    if b[i]=="Apple":
        print(i)
        index=index+(i,)
print(index)

0
5
(0, 5)

In [51]:
# sorted
b = ("Apple","Ball","Cat","Dog","Fish","Apple")
print(sorted(b))
b

['Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple')

In [53]:
# tuple inside tuple
a=((),(),())
print(a)
print(len(a))
print(type(a))

((), (), ())
3
<class 'tuple'>

In [56]:
a=((1,2,3),(2,2,3),(4,5,6))
a[2][2]

6

In [59]:
b=list(a) #tuple list
b

[(1, 2, 3), (2, 2, 3), (4, 5, 6)]

In [60]:
bs

NameError: name 'bs' is not defined

In [61]:
b[0]=(11,3,4)
b

[(11, 3, 4), (2, 2, 3), (4, 5, 6)]

In [63]:
b.append((10,20,300))
b

[(11, 3, 4), (2, 2, 3), (4, 5, 6), (10, 20, 300)]

In [3]:

a=(("1"," 2"," 3"), ("2", "2", "3"), ("4", "5"," 6"))
b=list(a)
# for i in b:
#     data.append(list(i))
print(b)

[('1', ' 2', ' 3'), ('2', '2', '3'), ('4', '5', ' 6')]

In [10]:
name=input("enter name=")
price=int(input("enter prie="))
quantity=int(input("enter qu="))
total=price*quantity
a = [('Ram',100,5,89), ('Shyam',55,778,65)]
a.append(list(name,price,quantity,total)
print(a)

SyntaxError: invalid syntax (<ipython-input-10-b4b0b55b530f>, line 7)