In [2]:
a = ()
b = tuple()
print(a)
print(b)

()
()

In [3]:
# imutable
# duplicate members
# ordered
# indexed

In [8]:
a = (1,2,3,4)
a[3]

4

In [14]:
a = ("Apple",)
type(a)

tuple

In [15]:
a = (1,2,3)
b = (4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [19]:
b = (4,5,6)
b*2

(4, 5, 6, 4, 5, 6)

In [16]:
a = (1,1,2,2,3,3,4,4)
print(a)

(1, 1, 2, 2, 3, 3, 4, 4)

In [17]:
# update delete
a[3] = 4

TypeError: 'tuple' object does not support item assignment

In [18]:
del a[5]
a

TypeError: 'tuple' object doesn't support item deletion

In [20]:
b = ("Aplle","Ball","Cat","Dog","Fish",1,2,3,4)
b[0:8:2]

('Aplle', 'Cat', 'Fish', 2)

In [21]:
b = ("Apple","Ball","Cat","Dog","Fish",1,2,3,4)
b[8::-1]

(4, 3, 2, 1, 'Fish', 'Dog', 'Cat', 'Ball', 'Apple')

In [22]:
print(b)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 1, 2, 3, 4)

In [23]:
b = (1,2,3)
c = (3,4)
d = b+c
print(d)

(1, 2, 3, 3, 4)

In [25]:
s = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+(x,)
print("The tuple is = ",s)
print("The max value=",max(s))
print("The max value=",min(s))
print("The sum value=",sum(s))

Enter n = 2
Enter x = 231
Enter x = 243
The tuple is =  (231, 243)
The max value= 243
The max value= 231
The sum value= 474

In [26]:
a = ("Apple","Ball","cat","Dog")
for i in a:
    print(i)

Apple
Ball
cat
Dog

In [27]:
a = ("Apple","Ball","cat","Dog")
n = len(a)
for i in range(n):
    print(a[i])

Apple
Ball
cat
Dog

In [28]:
s = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish',"Apple")
if "Apple" in s:
    print("Yes",s.count("Apple"))
else:
    print("No")

Yes 2

In [29]:
index = ()
s = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish',"Apple")
n = len(s)
for  i in range(n):
    if s[i] == "Apple":
        print(i)
        index = index+(i,)
print(index)

0
5
(0, 5)

In [30]:
# max min sum index count sorted
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish',"Apple")
print(sorted(a))
print(a)

['Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']
('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple')

In [32]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple')
b = list(a)
b

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [33]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
b = tuple(a)
b

('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple')

In [34]:
# tuple inside tuple
a = ((),(),(),())
print(a)
print(len(a))
print(type)

((), (), (), ())
4
<class 'type'>

In [35]:
a = ((1,2,3),(4,5,6),(7,8,9))
a[0][0]

1

In [38]:
a = (('1','2','3'),('4','5','6'),('7','8','9'))
a

(('1', '2', '3'), ('4', '5', '6'), ('7', '8', '9'))

In [41]:
b = list(a) #tuple insede list
b

[('1', '2', '3'), ('4', '5', '6'), ('7', '8', '9')]

In [43]:
b[0] = (1,2,3)
b

[(1, 2, 3), ('4', '5', '6'), ('7', '8', '9')]

In [44]:
b.append((10,11,12))

In [45]:
b

[(1, 2, 3), ('4', '5', '6'), ('7', '8', '9'), (10, 11, 12)]

In [47]:
b[0]

(1, 2, 3)

In [49]:
b[0][0] = '1'
b

TypeError: 'tuple' object does not support item assignment

In [54]:
data = []
a = (('1', '2', '3'), ('4', '5', '6'), ('7', '8', '9'))
b = list(a)
for i in b:
    data.append(list(i))
data

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

In [56]:
tuple_data = ()
for i in data:
    tuple_data = tuple_data + (tuple(i),)
tuple_data

(('1', '2', '3'), ('4', '5', '6'), ('7', '8', '9'))

In [58]:
a = ([1,2,3],[4,5,6],[7,8,9]) # list inside tuple
a[0].append(4)
a

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [59]:
# tuple inside tuple
s = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = (name,phone)
    s = s+(info,)
s

Enter n = 2
Enter name = asdas
Enter phone = 23234
Enter name = fssd
Enter phone = 23

(('asdas', '23234'), ('fssd', '23'))

In [60]:
# list inside tuple
s = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = [name,phone]
    s = s+(info,)
s

Enter n = 2
Enter name = weeqweqw
Enter phone = 423324
Enter name = sdsdfdf
Enter phone = 2343

(['weeqweqw', '423324'], ['sdsdfdf', '2343'])

In [61]:
# tuple inside list
s = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = (name,phone)
    s.append(info)
s

Enter n = 2
Enter name = asdads
Enter phone = 24234
Enter name = fsfsfd
Enter phone = 2434

[('asdads', '24234'), ('fsfsfd', '2434')]